<div class="header">
  <div></div>
  <div>
    <input type="file" hidden (change)="handleChange($event)" #uploader accept='.xlsx' />
    <button type="button" class="btn" (click)="uploader.click()">
      Upload File
    </button>
  </div>
</div>
<nz-table #basicTable [nzData]="attendances">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Department</th>
      <th>Date</th>
      <th>Is Present</th>
    </tr>
  </thead>
  <tbody>
    @for (attendance of basicTable.data; track attendance.id) {
    <tr>
      <td>{{attendance.employee.firstName}}</td>
      <td>{{attendance.employee.lastName}}</td>
      <td>{{attendance.employee.department.name}}</td>
      <td>{{attendance.date.date}}</td>
      <td>{{attendance.present ? "True" : "False"}}</td>
    </tr>
    }
  </tbody>
</nz-table>
